<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="selector"><input type="select" />School 1</div>
        <div class="nav">
          <li class="nav-item"></li>
          <button class="nav__button">Analytics</button>
          <button class="nav__button">Gragebooks</button
          ><button class="nav__button">Tests</button
          ><button class="nav__button">Students</button
          ><button class="nav__button">Teachers</button
          ><button class="nav__button">Archive</button>
        </div>
      </div>
    </header>
  </body>
</html>
