@font-face {
  font-family: 'Rubik', sans-serif;
  src: url('/fonts/Rubik-VariableFont_wght.ttf') format('ttf'),
    url('/fonts/Rubik-Italic-VariableFont_wght.ttf') format('ttf');
}

.paginationList {
  list-style: none;

  column-gap: 2px;
}

ul.paginationList {
  display: flex;
  justify-content: center;
  padding: 0;
}

ul.paginationList li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.csv_downloader {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;

  color: #5b5b5b;

  text-transform: uppercase;

  color: #c0c0c0;
  position: absolute;
  top: 21%;
  right: 10%;
  text-decoration: none;
}

.svg__downloader {
  padding-right: 10px;
}

.loader {
  margin: 0 auto;
}
