.header {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav {
  display: flex;
  align-items: flex-end;
  list-style: none;
  margin: 0;
}

.nav__button {
  color: #777777;
  border-color: transparent;
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-transform: uppercase;
}

.active {
  composes: nav__button;
  color: #ffffff;
  background-color: #a6192e;
}
