@import-normalize; /* bring in normalize.css styles */
@font-face {
  font-family: 'Rubik', sans-serif;
  src: url('/fonts/Rubik-VariableFont_wght.ttf') format('ttf'),
    url('/fonts/Rubik-Italic-VariableFont_wght.ttf') format('ttf');
}
body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
